/* add Space Grotesk font info*/
@font-face {
  font-family: 'Space-Bold';
  src: url("../fonts/SpaceGrotesk-Bold.otf") format('truetype');
}

@font-face {
  font-family: 'Space-Light';
  src: url("../fonts/SpaceGrotesk-Light.otf") format('truetype');
}

@font-face {
  font-family: 'Space-Medium';
  src: url("../fonts/SpaceGrotesk-Medium.otf") format('truetype');
}
/*Universal Rules*/
html {
  font-size: 16px;
  font-family: 'Space-Light', sans-serif;
}

h1 {
  font-family: 'space-bold';
  font-size: 2.5rem;
  color: midnightblue;
}

h2 {
  font-family: 'space-medium';
  font-size: 1.5rem;
  color: #474747; /*darkerdimgrey*/
}

span {
  line-height: 1.5;
}
.container {
  display: inline-flex;
  border: purple 3px dotted;
  width: 100%;
  overflow: scroll;

}

.column {
  display: flex;
  flex-direction: column;
}

.small-image {
  height: auto;
  width: 35%;
}

.baby .column {
  width: 65%;
}



.forty {
  width: 40%;
  border: 2px red solid;
}

.sixty {
  width: 60%;
  border: blue 2px solid;
}


/*Header Rules*/
header {
  display: flex;
  align-items: center;
  height: 4rem;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: white;
  justify-content: space-between;
}

.logo {
  height: 2rem;
  display: flex;
  align-items: center;
}

.logo img {
  padding-left: 1.5rem;
}

.logo span {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 800;
  font-size: 1.7rem;
}

header nav {
  padding-right: .5rem;
}

header nav span {
  padding-right: 1rem;
}

#colmar {
  color: #3A567F;
}

#academy {
  color: #778899;
}
/*First 'banner' section Rules*/
main {
  padding-top: 4rem;
}
.banner {
  background-color: lightgrey;
  height: 40rem;
}

.big-media img {
  padding: 2rem;
  width: 100%;
}

.column.forty {
  justify-content: center;
}

.column.forty h1,
.column.forty h2,
.column.forty span {
  margin: 1.3rem;

}

.button {
  background-color: midnightblue;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  width: inherit;
  display: flex;
  justify-content: center;
  color: white;
}

/*Second 'hurt' section Rules*/
.blue {
  color: #53A9FF;
}
/*Third 'start-learning' section Rules*/
.medium-image img {
  height: auto;
  width: 100%;
}

/*Fourth 'thesis' section Rules*/

/*Footer Rules*/
