/* add Space Grotesk font info*/
@font-face {
  font-family: 'Space-Bold';
  src: url("../fonts/SpaceGrotesk-Bold.otf") format('truetype');
}

@font-face {
  font-family: 'Space-Light';
  src: url("../fonts/SpaceGrotesk-Light.otf") format('truetype');
}

@font-face {
  font-family: 'Space-Medium';
  src: url("../fonts/SpaceGrotesk-Medium.otf") format('truetype');
}

/*Universal Rules*/
html {
  font-size: 16px;
  font-family: 'Space-Light', sans-serif;
}

h1 {
  font-family: 'space-bold';
  font-size: 2.5rem;
  color: midnightblue;
}

h2 {
  font-family: 'space-medium';
  font-size: 1.5rem;
  color: #474747; /*darkerdimgrey*/
}

h4 {
  font-family: 'space-medium';
  font-size: 1.3rem;
  color: #474747; /*darkerdimgrey*/
}



span {
  line-height: 1.3;
}

.container {
  display: flex;
  width: 100%;
  overflow: scroll;
}

.column {
  display: flex;
  flex-direction: column;
}

.forty {
  width: 40%;
}

.sixty {
  width: 60%;
}


/*Header Rules*/
header {
  display: flex;
  align-items: center;
  height: 4rem;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: white;
  justify-content: space-between;
}

.logo {
  height: 2rem;
  display: flex;
  align-items: center;
}

.logo img {
  padding-left: 1.5rem;
}

.logo span {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 800;
  font-size: 1.7rem;
}

header nav {
  padding-right: .5rem;
}

header nav span {
  padding-right: 1rem;
}

#colmar {
  color: #3A567F;
}

#academy {
  color: #778899;
}

/*First 'banner' section Rules*/
main {
  padding-top: 4rem;
}

.banner {
  background-color: lightgrey;
  height: 35rem;
}

.big-media img {
  width: 100%;
  margin: 0 auto;
}

.banner .big-media {
  display: flex;
  margin: 2rem .75rem 2rem 1.5rem;
}

.column.forty {
  justify-content: center;
}

.banner .column.forty h1,
.banner .column.forty h2,
.banner .column.forty span {
  margin: 0.75rem;
}

.button {
  background-color: midnightblue;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  width: inherit;
  display: flex;
  justify-content: center;
  color: white;
}

/*Second 'hurt' section Rules*/
.hurt {
  height: 42rem;
}


   /*left side rules*/
.hurt h1 {
  padding-top: 2rem;
}

.hurt .left-text {
  padding-top: 1.5rem;
}

.hurt .sixty {
  padding: 2rem 1.5rem;
  border-right: lightgrey solid 0.5px;


}

.hurt .tiny {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 0.75rem;
}


   /*right side rules*/
.small-image {
  width: 35%;
  display: flex;
  padding: 1rem;
}

.small-image img {
  height: auto;
  width: 100%;
  padding-top: .5rem;
}

.baby.column {
  width: 65%;
  padding: 2rem;
  height: auto;
  justify-content: center;
}

.blue {
  color: #53A9FF;
}

.strip .baby span {
  padding-top: .5rem;
}
.strip:hover {
  background-color: lightgrey;
}

.hurt .forty {
  border: red 2px solid;
  margin-bottom: 4rem;

}


/*Third 'start-learning' section Rules*/
.medium-image img {
  height: auto;
  width: 100%;
}


.start-learning {
  padding: 2rem 4.5rem 0rem 4.5rem;
  background-color: lightgrey;
}

.start-learning h1 {
  text-align: center;
  padding-bottom: 2rem;
}

.learning {
  background-color: white;
  width: 30%;
}

.row.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.learning .text {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.courses {
  padding: .5rem 0rem;
}

/*Fourth 'thesis' section Rules*/

/*Footer Rules*/
