/* add Space Grotesk font info*/
@font-face {
  font-family: 'Space-Bold';
  src: url("../fonts/SpaceGrotesk-Bold.otf") format('truetype');
}

@font-face {
  font-family: 'Space-Light';
  src: url("../fonts/SpaceGrotesk-Light.otf") format('truetype');
}

@font-face {
  font-family: 'Space-Medium';
  src: url("../fonts/SpaceGrotesk-Medium.otf") format('truetype');
}

/*Universal Rules*/
html {
  font-size: 16px;
  font-family: 'Space-Light', sans-serif;
}

h1 {
  font-family: 'space-bold';
  font-size: 2.5rem;
  color: midnightblue;
}

h2 {
  font-family: 'space-medium';
  font-size: 1.5rem;
  color: #474747; /*darkerdimgrey*/
}

h4 {
  font-family: 'space-medium';
  font-size: 1.3rem;
  color: #474747; /*darkerdimgrey*/
}

span {
  line-height: 1.3;
  color: #474747;
}

.container {
  display: flex;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.forty {
  width: 40%;
}

.sixty {
  width: 60%;
}

.mobile {
  display: none;
}

/*Universal Mobile Rules for screens under 550px*/
@media only screen and (max-width: 550px) {

.desktop {
  display: none;
}

.mobile {
  display: flex;
  width: 100%;
}

.forty,
.sixty {
  width: auto;
  margin: 0rem;
  padding: 0rem;
}

.container {
  flex-direction: column;
}

.medium-image {
  display: none;
}

}


/*Header Rules*/
header {
  display: flex;
  align-items: center;
  height: 4rem;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: white;
  justify-content: space-between;
}

.logo {
  height: 2rem;
  display: flex;
  align-items: center;
}

.logo img {
  padding-left: 1.5rem;
}

.logo span {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 800;
  font-size: 1.7rem;
}

header nav {
  padding-right: .5rem;
}

header nav span {
  padding-right: 1rem;
}

#colmar {
  color: #3A567F;
}

#academy {
  color: #778899;
}

/*mobile header rules*/
@media only screen and (max-width: 550px) {

  .mobile nav {
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
  }
}

/*First 'banner' section Rules*/
main {
  padding-top: 4rem;
}

.banner {
  background-color: lightgrey;
  height: auto;
}

.big-media img {
  width: 100%;
  margin: 0 auto;
  height: auto;
  object-fit: contain;
}

.banner .big-media {
  display: inline;
  margin: 2rem .75rem 2rem 1.5rem;
}

.banner .column.forty {
  justify-content: center;
}

.banner .column.forty h1,
.banner .column.forty h2,
.banner .column.forty span {
  margin: 0.75rem;
}

.button {
  background-color: midnightblue;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  width: inherit;
  display: flex;
  justify-content: center;
  color: white;
}

/*mobile banner*/
@media only screen and (max-width: 550px) {

  .banner .big-media {
    display: inline;
    margin: 0rem;
    height: auto;
  }

  .banner .forty {
    padding: 2rem 1rem;
  }

  .banner .forty h1 {
    padding-bottom: 2rem;
  }

  .banner .forty h2 {
    padding-bottom: 1.5rem;
  }

  .button {
    width: auto;
  }

  .banner .column.forty h1,
  .banner .column.forty h2,
  .banner .column.forty span {
    margin: 0rem;
  }
}

/*Second 'hurt' section Rules*/
/*left side*/
.hurt h1 {
  padding-top: 2rem;
}

.hurt .left-text {
  padding-top: 1.5rem;
}

.hurt .sixty {
  padding: 2rem 1.5rem;
  border-right: lightgrey solid 0.5px;
}

.hurt .tiny {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 0.75rem;
}

/*right side rules*/
.small-image {
  width: 35%;
  padding: 1rem;
}

.small-image img {
  height: auto;
  width: 100%;
  padding-top: .5rem;
}

.baby.column {
  width: 65%;
  justify-content: center;
}

.blue {
  color: #53A9FF;
}

.strip .baby span {
  padding-top: .5rem;
}

.strip:hover {
  background-color: lightgrey;
}

.strip {
  border-top: lightgrey solid 0.5px;
  border-bottom: lightgrey solid 0.5px;
  margin-bottom: 1px;
  height: auto;
}

.hurt .forty {
  margin-bottom: 4rem;
}

/*mobile rules for second section*/
@media only screen and (max-width: 550px) {

  .hurt .small-image {
    width: auto;
  }

  .small-image img {
    padding: 0rem;
  }

  .small-image {
    padding: 0rem;
  }

  .hurt .forty {
    margin-bottom: 0rem;
  }

  .strip {
    padding: 1rem 1rem 3rem 1rem;
    width: auto;
  }

  .strip .baby {
    padding-top: 1rem;
    padding-left: 1rem;
  }
}


/*Third 'start-learning' section Rules*/
.medium-image img {
  height: auto;
  width: 100%;
}

.start-learning {
  padding: 2rem 4.5rem 0rem 4.5rem;
  background-color: lightgrey;
}

.start-learning h1 {
  text-align: center;
  padding-bottom: 2rem;
}

.learning {
  background-color: white;
  width: 30%;
}

.row.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.learning .text {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.courses {
  padding: .5rem 0rem;
}

.learning:hover {
  background-color: #53A9FF;
}

/*Third section Mobile rules */
@media only screen and (max-width: 550px) {
  .text span {
    display: none;
  }

  .start-learning {
    background-color: white;
    padding: 2rem 2rem 1.5rem 2rem;
  }

  .learning {
    width: auto;
    background-color: lightgrey;
    margin-bottom: 0.5rem;
  }

  .row.container {
    margin: 0rem;
  }

  .start-learning h1 {
    padding-bottom: 1rem;
  }
}

/*Fourth 'thesis' section Rules - some rules from section 2 also apply to the right side of this section*/
.thesis {
  border-bottom: .5px lightgrey solid;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.thesis .sixty {
  padding: 0rem 1.5rem 1.5rem 1.5rem;
}

.big-media video {
  width: 100%;
  padding-bottom: 1.5rem;
}

.thesis .sixty span {
  padding-bottom: 2rem;
  padding-top: .5rem;
}

.thesis .forty {
  justify-content: flex-start;
}

.thesis .strip {
  border: none;
}

.thesis h1 {
  padding: 2rem 0rem;
}

/*Mobile Thesis Section Rules*/
@media only screen and (max-width: 550px) {
  .thesis .mobile {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
  }

  .thesis .sixty {
    padding: 1rem 0rem 0rem 0rem;
  }

  .thesis {
    border: none;
  }
}

/*Footer Rules*/
footer .container {
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
}

footer nav span {
  padding-left: .5rem;
}
